.scoreboard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    font-size: 3rem;
    width: 100%;
}

.card{
    display: flex;
    flex-direction: row;
}

